body {
    font-family: 'Sentinel';
}

.navbar-brand > img {
    max-width: 65px;
}

hr.short-line {
    max-width: 75px;
    border-color: #212529;
    opacity: 1;
}

.btn-red {
    background-color: #E85854;
    color: white;
}