<header class="p-5 my-4 bg-light rounded-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-12">
                <h2 class="display-4 fw-bold">
                    {{ section.headline }}
                </h2>
                <p class="fs-4">
                    {{ section.subheadline }}
                </p>
                {% if section.has_button == true %}
                <p class="mt-2">
                    {% include /components/ui-button.html
                        link=section.cta_link
                        button_outline=false
                        button_size='lg'
                        color='primary'
                        text=section.cta_text
                    %}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</header>