<!-- Primary Footer -->
<footer class="py-5 bg-dark">
    <div class="container-fluid">
        <div class="container">
            <div class="row">


                <div class="col-md-5 me-auto py-2">
                    <h5 class="text-light">
                        {{ site.title }}
                    </h5>
                    <p class="text-secondary">
                        {{ site.description }}
                    </p>
                </div>


                <div class="col-md-3 py-2">
                    <ul class="list-unstyled p-0">
                        <li>
                            <h6 class="text-light">
                                Navigation
                            </h6>
                        </li>
                        {% for item in site.data.site_nav %}
                        <li>
                            <a href="{{ item.link }}" class="text-secondary text-decoration-none">
                                {{ item.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3 py-2">
                    <ul class="list-unstyled p-0">
                        <li>
                            <h6 class="text-light">
                                Social
                            </h6>
                        </li>
                        {% for item in site.social %}
                        <li>
                            <a href="{{ item.url }}" class="text-secondary text-decoration-none">
                                {{ item.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- End Primary Footer -->
<!-- Final Footer -->
<footer class="bg-secondary py-3">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <p class="small m-0">
                    &copy; {{ site.copy_year }} {{ site.author }} {{ site.title }}
                </p>
            </div>
        </div>
    </div>
</footer>